{% extends "landingPage/base.html" %}
{% load staticfiles %}
{% block body_block %}
  <!-- СЕКЦИЯ "МЫ ПРЕДЛАГАЕМ ВАШЕМУ ВНИМАНИЮ" -->
  <section id="services">
    <div class="container">
      <div class="row mb-3">
        <div class="col-12 text-center">
          <h2>Мы предлагаем Вашему вниманию</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 d-flex justify-content-center mb-3">
          <div class="service-item-block">
            <div class="service-item-header"><a href="">Ремонт и пошив изделий из кожи и меха</a></div>
            <div class="service-item-image"><a href=""><img src="{% static 'images/services/fur-and-leather.jpg' %}" alt="Ремонт и пошив изделий из кожи и меха" class="img-fluid"></a></div>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center mb-3">
          <div class="service-item-block">
            <div class="service-item-header"><a href="">Пошив штор и портер с установкой</a></div>
            <div class="service-item-image"><a href=""><img src="{% static 'images/services/shtori.jpg' %}" alt="Ремонт и пошив изделий из кожи и меха" class="img-fluid"></a></div>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center mb-3">
          <div class="service-item-block">
            <div class="service-item-header"><a href="">ПЕРЕТЯЖКА МЯГКОЙ МЕБЕЛИ, УСТАНОВКА ФУРНИТУРЫ</a></div>
            <div class="service-item-image"><a href=""><img src="{% static 'images/services/soft.jpg' %}" alt="Ремонт и пошив изделий из кожи и меха" class="img-fluid"></a></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 d-flex justify-content-center mb-3">
          <div class="service-item-block">
            <div class="service-item-header"><a href="">Индивидуальный пошив и перекрой</a></div>
            <div class="service-item-image"><a href=""><img src="{% static 'images/services/individual.jpg' %}" alt="Ремонт и пошив изделий из кожи и меха" class="img-fluid"></a></div>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center mb-3">
          <div class="service-item-block">
            <div class="service-item-header"><a href="">Замена бегунков и молний</a></div>
            <div class="service-item-image"><a href=""><img src="{% static 'images/services/zipper.jpg' %}" alt="Ремонт и пошив изделий из кожи и меха" class="img-fluid"></a></div>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center mb-3">
          <div class="service-item-block">
            <div class="service-item-header"><a href="">ПОШИВ: ПОКРЫВАЛ, ПОСТЕЛЬНОГО БЕЛЬЯ И ТЕКСТИЛЯ ДЛЯ ДОМА</a></div>
            <div class="service-item-image"><a href=""><img src="{% static 'images/services/bedcover.jpg' %}" alt="Ремонт и пошив изделий из кожи и меха" class="img-fluid"></a></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 d-flex justify-content-center mb-3">
          <div class="service-item-block">
            <div class="service-item-header"><a href="">Химчистка, отпаривание одежды</a></div>
            <div class="service-item-image"><a href=""><img src="{% static 'images/services/dry-cleaning.jpg' %}" alt="Ремонт и пошив изделий из кожи и меха" class="img-fluid"></a></div>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center mb-3">
          <div class="service-item-block">
            <div class="service-item-header"><a href="">РЕМОНТ И ПОШИВ ИЗДЕЛИЙ ИЗ ТКАНИ И ТРИКОТАЖА</a></div>
            <div class="service-item-image"><a href=""><img src="{% static 'images/services/repair-triko.jpg' %}" alt="Ремонт и пошив изделий из кожи и меха" class="img-fluid"></a></div>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center mb-3">
          <div class="service-item-block">
            <div class="service-item-header"><a href="">РЕСТАВРАЦИЯ И КОРРЕКТИРОВКА</a></div>
            <div class="service-item-image"><a href=""><img src="{% static 'images/services/restavration.jpg' %}" alt="Ремонт и пошив изделий из кожи и меха" class="img-fluid"></a></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 d-flex justify-content-center mb-3">
          <div class="service-item-block">
            <div class="service-item-header"><a href="">ДИЗАЙНЕРСКАЯ РАЗРАБОТКА ЭСКИЗОВ ПОД ЗАКАЗЧИКА</a></div>
            <div class="service-item-image"><a href=""><img src="{% static 'images/services/design.jpg' %}" alt="Ремонт и пошив изделий из кожи и меха" class="img-fluid"></a></div>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center mb-3">
          <div class="service-item-block">
            <div class="service-item-header"><a href="">ПОМОЩЬ В ПОДБОРЕ ТКАНЕЙ И МАТЕРИАЛОВ</a></div>
            <div class="service-item-image"><a href=""><img src="{% static 'images/services/help.jpg' %}" alt="Ремонт и пошив изделий из кожи и меха" class="img-fluid"></a></div>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center mb-3">
          <div class="service-item-block">
            <div class="service-item-header"><a href="">ВЫЕЗД ДИЗАЙНЕРА НА ДОМ ЗАКАЗЧИКА</a></div>
            <div class="service-item-image"><a href=""><img src="{% static 'images/services/home-designer.jpg' %}" alt="Ремонт и пошив изделий из кожи и меха" class="img-fluid"></a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- СЕКЦИЯ "МЫ ПРЕДЛАГАЕМ ВАШЕМУ ВНИМАНИЮ" -->

  <!-- СЕКЦИЯ "КАК ЭТО РАБОТАЕТ" -->
  <section id="how-it-works">
    <div class="container">
      <div class="row my-5">
        <div class="col-12 text-center"><h2>Как это работает</h2></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row row-with-full-height">
            <div class="col-4 hiw-header-number">1.</div>
            <div class="col-8 align-self-center hiw-header">
              <h3>ВЫБИРАЕТЕ НЕОБХОДИМЫЙ ДЛЯ ВАС ВИД ИЗДЕЛИЯ</h3>
              <p>Пару предложений - обращений к клиенту на данную тему</p>
            </div>
          </div>
        </div>
        <div class="col-md-6"><img src="{% static 'images/hiw/1.jpg' %}" class="img-fluid" alt=""></div>
      </div>
      <div class="row">
        <div class="col-md-6 order-md-2">
          <div class="row row-with-full-height">
            <div class="col-4 hiw-header-number">2.</div>
            <div class="col-8 align-self-center hiw-header">
              <h3>МЫ ДЕЛАЕМ НЕОБХОДИМЫЕ ЗАМЕРЫ ВЫБИРАЕМ ФАСОН И ТКАНИ</h3>
              <p>Пару предложений - обращений к клиенту на данную тему</p>
            </div>
          </div>
        </div>
          <div class="col-md-6 order-md-1"><img src="{% static 'images/hiw/2.jpg' %}" class="img-fluid" alt=""></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row row-with-full-height">
            <div class="col-4 hiw-header-number">3.</div>
            <div class="col-8 align-self-center hiw-header">
              <h3>СТРОИМ ЛЕКАЛА</h3>
              <p>Пару предложений - обращений к клиенту на данную тему</p>
            </div>
          </div>
        </div>
        <div class="col-md-6"><img src="{% static 'images/hiw/3.jpg' %}" class="img-fluid" alt=""></div>
      </div>
      <div class="row">
        <div class="col-md-6 order-md-2">
          <div class="row row-with-full-height">
            <div class="col-4 hiw-header-number">4.</div>
            <div class="col-8 align-self-center hiw-header">
              <h3>НЕОБХОДИМЫ <br>I и II примерки</h3>
              <p>Пару предложений - обращений к клиенту на данную тему</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 order-md-1"><img src="{% static 'images/hiw/4.jpg' %}" class="img-fluid" alt=""></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row row-with-full-height">
            <div class="col-4 hiw-header-number">5.</div>
            <div class="col-8 align-self-center hiw-header">
              <h3>ВАШЕ ИЗДЕЛИЕ ГОТОВО</h3>
              <p>Пару предложений - обращений к клиенту на данную тему</p>
            </div>
          </div>
        </div>
        <div class="col-md-6"><img src="{% static 'images/hiw/5.jpg' %}" class="img-fluid" alt=""></div>
      </div>
    </div>
  </section>
  <!-- СЕКЦИЯ "КАК ЭТО РАБОТАЕТ" -->

  <!-- СЕКЦИЯ "С НАМИ УДОБНО РАБОТАТЬ" -->
  <section id="advantages">
    <div class="container">
      <div class="row my-4 py-5 ">
        <div class="col-12 text-center"><h2>С нами удобно работать</h2></div>
      </div>
      <div class="row justify-content-between">
        <div class="col-sm-5 d-flex flex-column align-items-center text-center mb-5">
          <img src="{% static 'images/advantages/shirt.png' %}" class="img-fluid mb-4" alt="Shirt">
          <h4>Изделия <br>высокого качества</h4>
          <p>Пару предложений - обращений к клиенту на данную тему</p>
        </div>
        <div class="col-sm-5 d-flex flex-column align-items-center text-center mb-5">
          <img src="{% static 'images/advantages/needle.png' %}" class="img-fluid mb-4" alt="Shirt">
          <h4>ВЫСОКИЙ <br>ПРОФЕССИОНАЛИЗМ МАСТЕРОВ</h4>
          <p>Пару предложений - обращений к клиенту на данную тему</p>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-sm-5 d-flex flex-column align-items-center text-center mb-5">
          <img src="{% static 'images/advantages/purse.png' %}" class="img-fluid mb-4" alt="Shirt">
          <h4>БОЛЬШОЕ КОЛ-ВО <br> СКИДОК И АКЦИЙ</h4>
          <p>Пару предложений - обращений к клиенту на данную тему</p>
        </div>
        <div class="col-sm-5 d-flex flex-column align-items-center text-center mb-5">
          <img src="{% static 'images/advantages/hanger.png' %}" class="img-fluid mb-4" alt="Shirt">
          <h4>ПРОЧНОСТЬ И ДОЛГОВЕЧНОСТЬ НАШИХ ИЗДЕЛИЙ ГАРАНТИЯ КАЧЕСТВА</h4>
          <p>Пару предложений - обращений к клиенту на данную тему</p>
        </div>
      </div>
    </div>
  </section>
  <!-- СЕКЦИЯ "С НАМИ УДОБНО РАБОТАТЬ" -->
{% endblock %}
